<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crontab Decoder</title>
</head>
<body>
    <h1>Crontab Decoder Tool</h1>
    <input type="text" id="expression" placeholder="Enter Crontab Expression">
    <button onclick="decodeExpression()">Decode</button>
    <p>Decoded Expression: <span id="decoded-output"></span></p>

    <script>
        function decodeExpression() {
            let expression = document.getElementById("expression").value;
            fetch('/api/decode/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "expression": expression
                })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("decoded-output").innerText = data.decoded_expression;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
